.generator-wrapper {
  width: 600px;
  margin: 0 auto;
  margin-top: 4rem;
  text-align: center;
}

.generator-wrapper h3 {
  font-weight: 300;
  text-transform: capitalize;
  font-size: 2.5rem;
}

.generator-form {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  transition: height ease 0.5s;
}

.generator-form input,
.generator-form button {
  padding: 0.5rem 1rem;
}

.generator-form input {
  margin-left: 0.5rem;
  border: none;
}

.generator-form button {
  background-color: cadetblue;
  border: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
